<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add new task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Enter title</ion-label>       
      <ion-input [(ngModel)]="title" type="string"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter text</ion-label>       
      <ion-textarea placeholder="Enter your task here!" [(ngModel)]="text" type="string"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>