<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo list (backlog)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-list-header>
        In progress
      </ion-list-header>
      <ion-item *ngFor='let item of inprogress' routerLink='/details/{{item.id}}'>
        <!--
      <ion-avatar slot="start">
        <img src="../../assets/Task.svg">
      </ion-avatar>
      -->
        <ion-label>
          <h3>{{item.title}}</h3>
          <p>{{item.text}}</p>
        </ion-label>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
      <ion-list-header>
        To be done
      </ion-list-header>

      <ion-item *ngFor='let item of todo' routerLink='/details/{{item.id}}'>
        <!--
        <ion-avatar slot="start">
          <img src="../../assets/Task.svg">
        </ion-avatar>
        -->
        <ion-label>
          <h3>{{item.title}}</h3>
          <p>{{item.text}}</p>
        </ion-label>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
      <ion-list-header>
        Finished
      </ion-list-header>

      <ion-item *ngFor='let item of finished' routerLink='/details/{{item.id}}'>
        <!--
        <ion-avatar slot="start">
          <img src="../../assets/Task.svg">
        </ion-avatar>
        -->
        <ion-label>
          <h3>{{item.title}}</h3>
          <p>{{item.text}}</p>
        </ion-label>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>