<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Back to todo list</ion-title>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <img src="../../assets/Task.svg">
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>
</ion-content>